* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --coolGlow: blue;
}
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #7fd6bc;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #7fd6bc;
  color: #ffffff;
}

header h1 {
  color: #000000;
  font-size: 70px;
  display: inline-block;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #4d3f3f;
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px;
}

.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(https://i.pinimg.com/originals/1d/a3/66/1da3663ce1d7d0f6098a31a667e862b4.gif);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text p {
  font-size: 50px;
  background: transparent;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.aboutMe {
  position: relative;
  left: 400px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000000;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pics-column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.contact a {
  color: red;
}

#first-code {
  width: 700px;
  height: 500px;
}
/* still need to make images stack in colums under the bigger image */
.pics {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 250px;
  padding: 5px;
  border: #7fd6bc solid 2px;
}
/* added hover selector to make images glow */
.pics:hover {
  box-shadow: inset 0px 0px 8px var(--coolGlow), 0 0 15px var(--coolGlow);
}

